.App{
  height: 80vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgb(204, 204, 204);
}

.escribir-texto {
    height: 30px;
    width: 60%;
}

.escribir-texto:hover {
    background:burlywood;
}
button {
    background: blue;
    color:white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
    margin-left:10px;
}

.escritura-boton {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80% ;
}

.escritura-usuarios {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80% ;

}